<!DOCTYPE html>
<html>
  <head>
    <title>KronoSchedulingApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  </head>

  <body>
    <div class="container">
      <nav>
        <ul>
          <% if current_user %>
            <li><%= link_to "Edit Account", edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Create New User", new_user_registration_path %></li>
          <% end %>
        </ul>
      </nav>

      <div class="notice">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    	<%= yield %>
  	</div>
  	<div id="remote_container"></div>
  </body>
</html>
